<ion-view view-title="Activity" class="header header-positive">
  <ion-content class="activity-page">
  	<div class="activity-banner">
  		<img src="{{ activity.imgURL }}">
  	</div>
  	<div class="activity-category">
  		<div class="activity-category-icon">
  			<img src="img/jogging-white.png" />
  		</div>
  	</div>
  	<div class="activity-content">
		  <h2>{{ activity.name }}</h2>
		  <p class="activity-host">Created by: {{ activity.createdBy }} | </p>
		  <div class="badge">{{ activity.difficulty }}</div>
		  <p class="activity-desc">{{ activity.description }}</p>
		</div>
		<button class="button button-full button-assertive join-btn" ng-click="joinActivity()" ng-hide="isJoined==true" ng-show="isJoined==false">
		  Join Activity
		</button>

		<button class="button button-full button-assertive join-btn" ng-click="unjoinActivity()" ng-hide="isJoined==false" ng-show="isJoined==true">
		  Joined!
		</button>
    <div class="list comment-list" ng-show="comments">
    	<div class="comment-header header header-dark">
    		<i class="icon ion-android-textsms"></i>
    		Comments
    	</div>
		  <a class="item" collection-repeat="comment in comments">
		  	<img style="width: 20%; display: inline-block; border-radius: 800px;" class="avatar" src="https://scontent-kul1-1.xx.fbcdn.net/v/t1.0-9/1012964_10204292727452673_4676625786604600437_n.jpg?oh=af79db2375b33046327e998249f5cb54&oe=587516C0" alt="avatar" width="30%"/>
		  	<div style="width: 80%; padding: 10px 20px; display: inline-block; vertical-align: top;">
		  		<p style="color: #666; font-size: 16px;">{{ comment.userId }}</p>
		  		<p style="color: #333; font-size: 18px;">{{ comment.comment }}</p>
		  		<p style="color: #aaa; font-size: 14px;">
		  			<i class="icon ion-android-calendar" style="color: #aaa; font-size: 15px; margin-right: 5px;"></i>
		  			{{ comment.createDate | date: 'dd MMM yyyy   ' }}
		  			<i class="icon ion-android-time" style="color: #aaa; font-size: 15px; margin: 0px 5px;"></i>
		  			{{ comment.createDate | date: 'h:mm a' }}</p>
		  	</div>
		  </a>
		</div>

		<div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="Comment" ng-model="data.text">
	    </label>
	    <a href="" ng-click="submitComment()"><i style="margin: auto 5px;" class="icon ion-android-send"></i></a>
	  </div>
	  <br>
	  <br>
  </ion-content>
</ion-view>

