<ion-view view-title="Activity" class="header header-positive">
  <ion-content class="activity-page">
  	<div class="activity-banner">
  		<img src="img/activity-location.jpg">
  	</div>
  	<div class="activity-category">
  		<div class="activity-category-icon">
  			<img src="img/jogging-white.png" />
  		</div>
  	</div>
  	<div class="activity-content">
		  <h2>{{ activity.name }}</h2>
		  <p class="activity-host">Created by: {{ activity.createdBy }} | </p>
		  <div class="badge">{{ activity.difficulty }}</div>
		  <p class="activity-desc">{{ activity.description }}</p>
		</div>
		<button class="button button-full button-assertive join-btn" ng-click="joinActivity()" ng-hide="isJoined==true" ng-show="isJoined==false">
		  Join Activity
		</button>

		<button class="button button-full button-assertive join-btn" ng-click="unjoinActivity()" ng-hide="isJoined==false" ng-show="isJoined==true">
		  Joined!
		</button>
    <div class="list comment-list" ng-show="comments">
    	<div class="comment-header header header-dark">
    		<i class="icon ion-android-textsms"></i>
    		Comments
    	</div>
		  <a class="item" collection-repeat="comment in comments">
		    {{ comment.comment }}
		  </a>
		</div>

		<div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="Comment" ng-model="data.text">
	    </label>
	    <i class="icon ion-android-send" ng-click="submitComment">
	  </div>
  </ion-content>
</ion-view>

