<ion-view view-title="SQUAD">
  <ion-content>

    <div ng-hide="lat" class="padding" style="padding-left: 25px; padding-top: 15px; font-weight:400;">
      <h3>
        Retrieving your location
      </h3>
      <p>SQUAD is now retrieving your location to help you find activites near to you.</p>
      <br><br>
    </div>

    <center>
      <ion-spinner ng-hide="lat" icon="lines"></ion-spinner>
    </center>

    <div ng-show="lat">
      <div class="row">
        <div class="col">
          <button class="button button-block icon-left btn-category">
            <i class="icon icon ion-ios-basketball-outline"></i>
            <p>Cycling</p>
          </button>
        </div>
        <div class="col">
          <button class="button button-block icon-left btn-category">
            <i class="icon icon iion-ios-football-outline"></i>
            <p>Running</p>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block icon-left btn-category">
            <i class = "icon icon ion-android-bicycle"></i>
            <p>Cycling</p>
          </button>
        </div>
        <div class="col">
          <button class="button button-block icon-left btn-category">
            <img src="img/jogging.png" />
            <p>Running</p>
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>