<ion-view view-title="SQUAD">
  <ion-content>

    <div ng-hide="lat" class="padding" style="padding-left: 25px; padding-top: 15px; font-weight:400;">
      <h3>
        Retrieving your location
      </h3>
      <p>SQUAD is now retrieving your location to help you find activites near to you.</p>
      <br><br>
    </div>

    <center>
      <ion-spinner ng-hide="lat" icon="lines"></ion-spinner>
    </center>

    <div ng-show="lat" class="padding" style="padding-left: 25px; padding-top: 15px; font-weight:400;">
      <h3>
        Select your category
      </h3>
    </div>

    <div class="padding">
      <div ng-show="lat" class="row">
          <div class="col">
            <button class="button button-block icon-left ion-home">
              Block Button
            </button>
          </div>
          <div class="col">
            <button class="button button-block icon-left ion-home">
              Block Button
            </button>
          </div>
      </div>
    </div>

  </ion-content>
</ion-view>