<ion-view view-title="SQUAD">
  <ion-content class="padding">

    <div ng-hide="lat" class="padding" style="padding-left: 25px; padding-top: 15px; font-weight:400;">
      <h3>
        Retrieving your location
      </h3>
      <p>SQUAD is now retrieving your location to help you find activites near to you.</p>
      <br><br>
    </div>

    <center>
      <ion-spinner ng-hide="lat" icon="lines"></ion-spinner>
    </center>

    <div ng-show="lat" class="padding" style="padding-left: 25px; padding-top: 15px; font-weight:400;">
      <h3>
        Select your category
      </h3>
    </div>

    <button ng-show="resp.data[0].name" class="button button-block button-calm " ng-click="continueToDash()">
      Continue
    </button>

  </ion-content>
</ion-view>