<ion-view view-title="Login" name="login-view" hide-nav-bar="true">
  <ion-content class="padding">
    <div class="login-logo">
      <center><img src="img/squad_logo.png"></center>
    </div>

    <div class="login-container">
      <input type="text" autocapitalize="off" autocorrect="off" placeholder="Username" ng-model="data.username">
      <input type="password" placeholder="Password" ng-model="data.password">
      <button class="button button-block button-positive" ng-click="login()">Login</button>
      <button class="button button-block button-assertive" ng-click="register()">Register</button>
    </div>
  </ion-content>
</ion-view>