<ion-view view-title="New Activity">
  <ion-content>

  	<div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Activity Name</span>
	    <input type="text" placeholder="eg. Let's Jog!" ng-model="data.name">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Description</span>
	    <textarea placeholder="We will jog for 5KM ~~" ng-model="data.description"></textarea>
	  </label>
	</div>

	<div class="list">
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Category
	    </div>
	    <select ng-model="data.category">
	      <option>Cycling</option>
	      <option selected>Running</option>
	      <option>Basketball</option>
	      <option>Football</option>
	    </select>
	  </label>

	  <label class="item item-input item-select">
	    <div class="input-label">
	      Difficulty
	    </div>
	    <select ng-model="data.level">
	      <option selected>Beginner</option>
	      <option>Intermediate</option>
	      <option>Professional</option>
	    </select>
	  </label>
	</div>

	<div class="row" style="margin-top: -20px">
	  <div class="col">
	  	<button class="button button-block button-stable" ng-click="showDatePicker()">
	  		Date/Time
		</button>
		</div>
	  <div class="col">
	  	<button class="button button-block button-stable" ng-click="showDatePicker()">
		  Venue
		</button>
	  	</div>
	  <div class="col">
		<button class="button button-block button-stable" ng-click="invite()">
		  Invite
		</button>
		</div>
	</div>

	<div class="row">
		
	</div>

	<div class="row">
		<div class="col">
			<button class="button button-block button-positive" style="margin-top: 0px;" ng-click="submit()">
			  Create activity
			</button>
		</div>
	</div>
  </ion-content>
</ion-view>

