<ion-view view-title="New Activity">
  <ion-content>

  	<div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Activity Name</span>
	    <input type="text" placeholder="..." ng-model="data.name">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Description</span>
	    <textarea placeholder="..." ng-model="data.description"></textarea>
	  </label>
	  
	</div>

	<div class="list">

	  <label class="item item-input item-select">
	    <div class="input-label">
	      Category
	    </div>
	    <select ng-model="data.category">
	      <option>Cycling</option>
	      <option selected>Running</option>
	      <option>Basketball</option>
	      <option>Football</option>
	    </select>
	  </label>

	  <label class="item item-input item-select">
	    <div class="input-label">
	      Difficulty
	    </div>
	    <select ng-model="data.level">
	      <option selected>Beginner</option>
	      <option>Intermediate</option>
	      <option>Professional</option>
	    </select>
	  </label>

	</div>

	<div class="row">
	  <div class="col">
	  	<button class="button button-block button-stable" ng-click="showDatePicker()">
	  		Pick date/time
		</button>
		</div>
	  <div class="col">
	  	<button class="button button-block button-stable" ng-click="showDatePicker()">
		  Pick location
		</button>
	  </div>
	</div>

	<div class="row">
		<div class="col">
			<button class="button button-block button-dark" ng-click="submit()">
			  Create activity
			</button>
		</div>
	</div>

	<br>
	<br>
  </ion-content>
</ion-view>

