<ion-view view-title="{{category}}">
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus-round" ng-click="createNewActivity()"></button>
    <button class="button icon ion-refresh" ng-click="refresh()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="activity-list">
      <ion-item class="activity-card" collection-repeat="activity in activities" href="#/tab/dash/activity/{{activity._id}}">
        <div class="card-date">
          <h4>{{ activity.bookingAt | date:'dd' }}</h4>
          <h4>{{ activity.bookingAt | date:'MMM' }}</h4>
          <h5>{{ activity.bookingAt | date:'HHMM' }}</h4>
        </div>
        <div class="card-content">
          <div class="activity-content">
            <div class="activity-venue">
              <div class="activity-venue-img" style="background-image: url({{ activity.imgURL }})"></div>
            </div>
            <div class="activity-details">
              <h3>{{ activity.name }}</h3>
              <div class="badge">{{ activity.difficulty }}</div>
              <p class="activity-location"><i class="icon ion-location"></i>{{ activity.locName }}</p>
            </div>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>

