<ion-view view-title="Your Profile" class="profile-page">
  <ion-content scroll="true">
    <div class="profile-photo-sec">
      <img class="avatar profile-photo" src="https://scontent-kul1-1.xx.fbcdn.net/v/t1.0-9/1012964_10204292727452673_4676625786604600437_n.jpg?oh=af79db2375b33046327e998249f5cb54&oe=587516C0" alt="avatar" width="30%"/>
      <div class="change-photo">
        <button style="display: inline-block; width: auto; padding: 0px 40px; border-radius: 3px; border: 1px solid #eee; min-height: 40px; margin-top: 25px;" class="button button-full button-stable">
          Upload Photo
        </button>
        <button style="display: inline-block; width: auto; padding: 0px 40px; border-radius: 3px; min-height: 40px; border: 1px solid #eee; margin-top: 0px;" class="button button-full button-stable">
          Take A Photo
        </button>
      </div>
    </div>
    <div class="padding" style="margin-bottom: 30px;">
      <h3 style="margin-left: 45px;">@{{ data.username }}</h3>
  	</div>
    <div style="margin-bottom: 20px;">
      <ion-list>
        <div class="bar bar-header bar-positive item item-divider" style="height: 38px; padding: 10px 15px;">
          Records
        </div>
        <div class="row">
          <div class="col" style="text-align: center; background-color: #444; margin-right: 5px; padding: 15px 0px;">
            <img style="width: auto; height: 40px;" src="img/jogging-white.png" />
            <span style="display: block; margin-top: 5px;  color: #fff; font-size: 16px;">4</span>
          </div>
          <div class="col" style="text-align: center; background-color: #444; margin-right: 5px; padding: 15px 0px;">
            <img style="width: auto; height: 40px;" src="img/cycling-white.png" />
            <span style="display: block; margin-top: 5px;  color: #fff; font-size: 16px;">0</span>
          </div>
          <div class="col" style="text-align: center; background-color: #444; padding: 15px 0px;">
            <img style="width: auto; height: 40px;" src="img/shuttlecock-white.png" />
            <span style="display: block; margin-top: 5px; color: #fff; font-size: 16px;">0</span>
          </div>
        </div>
      </ion-list>
    </div>
    <div style="margin-bottom: 20px;">
      <ion-list>
        <div class="bar bar-header bar-royal item item-divider" style="height: 38px; padding: 10px 15px;">
          Settings
        </div>
        <a class="item" ng-click="clearData()">
          Log Out
        </a>
      </ion-list>
    </div>
    <ion-list>
		  <div class="bar bar-header bar-dark item item-divider" style="height: 38px; padding: 10px 15px;">
			 Version
		  </div>
		  <li class="item">
	      <b>V1.0 (beta)</b>
	    </li>
    </ion-list>
    <br>
    <br>
    <br>
    <br>
  </ion-content>
</ion-view>